# SpeechT5 & Transformers (latest from main for newest features)
git+https://github.com/huggingface/transformers.git@main#egg=transformers

# Tokenizer & Dataset utilities
sentencepiece>=0.1.97
datasets>=2.14.0

# Audio I/O & processing
soundfile>=0.11.0
librosa>=0.9.1
ffmpeg-python>=0.2.0

# PyTorch (CUDA-enabled)
torch>=1.13.0
torchaudio>=1.13.0

# Accelerator for Trainer
accelerate>=0.20.0

#A100SXM
cu118
